body {
    background-color: rgba(2, 123, 171, 0.731);
    border-radius: 5%;
    border-top: 10px;
    padding: auto;
    width: 1400px;
    height: 1400px;
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: rgb(240, 240, 240);
}

h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    color: rgba(88, 62, 254, 0.913);
}

.menuPrincipal {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: initial;
    font-style: inherit;
    font-size: medium;
    color: rgba(255, 255, 255, 0.95);
    padding: 30px;  
}

button {
    width: 180px;
    height: 30px;
    background-color: rgb(239, 247, 0);
    color: black;
}
.fila {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}
button.libre {
    background-color: #4CAF50;
    color: white;
    margin: 2px;
    width: 40px;
    height: 40px;
}
button.ocupado {
    background-color: #f44336;
    color: white;
    margin: 2px;
    width: 40px;
    height: 40px;
}